

<!DOCTYPE html>
<html>
<head>
<title>Golf Club Fitting</title>
</head>
<body>
<h1>Golf Club Fitting</h1>
<form action="/results" method="POST">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="email">Email:</label>
<input type="email" name="email" id="email">
<br>
<label for="club_model">Club Model:</label>
<select name="club_model" id="club_model">
<option value="driver">Driver</option>
<option value="3-wood">3-Wood</option>
<option value="5-wood">5-Wood</option>
<option value="7-wood">7-Wood</option>
</select>
<br>
<label for="club_head_speed_1">Club Head Speed (mph):</label>
<input type="number" name="club_head_speed_1" id="club_head_speed_1">
<br>
<label for="ball_speed_1">Ball Speed (mph):</label>
<input type="number" name="ball_speed_1" id="ball_speed_1">
<br>
<label for="launch_angle_1">Launch Angle (degrees):</label>
<input type="number" name="launch_angle_1" id="launch_angle_1">
<br>
<label for="spin_rate_1">Spin Rate (rpm):</label>
<input type="number" name="spin_rate_1" id="spin_rate_1">
<br>
<label for="peak_height_1">Peak Height (feet):</label>
<input type="number" name="peak_height_1" id="peak_height_1">
<br>
<label for="land_angle_1">Land Angle (degrees):</label>
<input type="number" name="land_angle_1" id="land_angle_1">
<br>
<label for="club_path_1">Club Path (degrees):</label>
<input type="number" name="club_path_1" id="club_path_1">
<br>
<label for="club_face_angle_1">Club Face Angle (degrees):</label>
<input type="number" name="club_face_angle_1" id="club_face_angle_1">
<br>
<label for="attack_angle_1">Attack Angle (degrees):</label>
<input type="number" name="attack_angle_1" id="attack_angle_1">
<br>
<label for="ft_off_line_1">Ft Off Line:</label>
<input type="number" name="ft_off_line_1" id="ft_off_line_1">
<br>
<label for="club_head_speed_2">Club Head Speed (mph):</label>
<input type="number" name="club_head_speed_2" id="club_head_speed_2">
<br>
<label for="ball_speed_2">Ball Speed (mph):</label>
<input type="number" name="ball_speed_2" id="ball_speed_2">
<br>
<label for="launch_angle_2">Launch Angle (degrees):</label>
<input type="number" name="launch_angle_2" id="launch_angle_2">
<br>
<label for="spin_rate_2">Spin Rate (rpm):</label>
<input type="number" name="spin_rate_2" id="spin_rate_2">
<br>
<label for="peak_height_2">Peak Height (feet):</label>
<input type="number" name="peak_height_2" id="peak_height_2">
<br>
<label for="land_angle_2">Land Angle (degrees):</label>
<input type="number" name="land_angle_2" id="land_angle_2">
<br>
<label for="club_path_2">Club Path (degrees):</label>
<input type="number" name="club_path_2" id="club_path_2">
<br>
<label for="club_face_angle_2">Club Face Angle (degrees):</label>
<input type="number" name="club_face_angle_2" id="club_face_angle_2">
<br>
<label for="attack_angle_2">Attack Angle (degrees):</label>
<input type="number" name="attack_angle_2" id="attack_angle_2">
<br>
<label for="ft_off_line_2">Ft Off Line:</label>
<input type="number" name="ft_off_line_2" id="ft_off_line_2">
<br>
<label for="club_head_speed_3">Club Head Speed (mph):</label>
<input type="number" name="club_head_speed_3" id="club_head_speed_3">
<br>
<label for="ball_speed_3">Ball Speed (mph):</label>
<input type="number" name="ball_speed_3" id="ball_speed_3">
<br>
<label for="launch_angle_3">Launch Angle (degrees):</label>
<input type="number" name="launch_angle_3" id="launch_angle_3">
<br>
<label for="spin_rate_3">Spin Rate (rpm):</label>
<input type="number" name="spin_rate_3" id="spin_rate_3">
<br>
<label for="peak_height_3">Peak Height (feet):</label>
<input type="number" name="peak_height_3" id="peak_height_3">
<br>
<label for="land_angle_3">Land Angle (degrees):</label>
<input type="number" name="land_angle_3" id="land_angle_3">
<br>
<label for="club_path_3">Club Path (degrees):</label>
<input type="number" name="club_path_3" id="club_path_3">
<br>
<label for="club_face_angle_3">Club Face Angle (degrees):</label>
<input type="number" name="club_face_angle_3" id="club_face_angle_3">
<br>
<label for="attack_angle_3">Attack Angle (degrees):</label>
<input type="number" name="attack_angle_3" id="attack_angle_3">
<br>
<label for="ft_off_line_3">Ft Off Line:</label>
<input type="number" name="ft_off_line_3" id="ft_off_line_3">
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>

